*~
*.swp
*.o
*.a
*.la
.libs
.deps
*.lo
Makefile
Makefile.in
AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
README
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing

test/*
!test/*.c
!test/*.am

*.crt
*.key
*.csr
